[submodule "Docker/docker-curriculum"]
	path = Docker/docker-curriculum
	url = https://github.com/prakhar1989/docker-curriculum
[submodule "Indy/indy-plenum"]
	path = Indy/indy-plenum
	url = https://github.com/hyperledger/indy-plenum.git
